extends ../../layout.pug
include ../../mixin/header

block head 
    title MAIN 

block content 
    +header()
    .container
        h1 Главная
        .mt-4
            a.btn.btn-primary(href='/books') Посмотреть все книги
            a.btn.btn-primary.ml-2(href='/create') Добавить книгу