extends ./layout.pug

block head 
    title MAIN 

block content 
    .container
        h1 Главная
        .mt-4
            button.btn.btn-primary Посмотреть все книги
            button.btn.btn-primary.ml-2 Добавить книгу