extends ../layout.pug
include ../../mixin/header

block head
    link(href="/books.css" type="text/css" rel="stylesheet")
    title MAIN 

block content 
    +header()
    .container
        h1 Книги
        .mt-4
            a.btn.btn-primary(href='/add') Добавить книгу
        table.table.mt-4
            thead
                th(scope='col') #
                th(scope='col') Заголовок
                th(scope='col') 
            tbody 
                tr 
                    th(scope='row') 1
                    td asd 
                    td
                        a.btn.btn-success.mr-2.book-button(href='/view/:id')
                            img(src='https://image.flaticon.com/icons/png/512/65/65000.png')
                        a.btn.btn-primary.book-button(href='/edit/:id')
                            img(src='http://simpleicon.com/wp-content/uploads/pen-15.png')