extends ../../layout.pug
include ../../mixin/header

block head
    link(href="/books.css" type="text/css" rel="stylesheet")
    title MAIN 

block content 
    +header()
    .container
        h1 Добавить книгу

        form.mt-4
            .form-group
                label Название
                input.form-control(type='text' name='title')
            .form-group
                label Автор
                input.form-control(type='text' name='author')
            .form-group
                label Ссылка на обложку
                input.form-control(type='text' name='imageLink')
            .form-group
                label Ссылка на книгу
                input.form-control(type='text' name='link')
            
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text Загрузить
                .custom-file
                    input#inputGroupFile01.custom-file-input(type='file' name='file')
                    label.custom-file-label(for='inputGroupFile01') Файл книги

           
            button.btn.btn-primary(type='submit') Сохранить

block script 
    script(src='/create.js')